<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715243220214-obrslukbm39uj09ip9cvq1jma3908blt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715243220214-obrslukbm39uj09ip9cvq1jma3908blt</string>
	<key>API_KEY</key>
	<string>AIzaSyDj0R5LDirjHFu8Y55euMATDh0uPKTp0r8</string>
	<key>GCM_SENDER_ID</key>
	<string>715243220214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyappFlutter</string>
	<key>PROJECT_ID</key>
	<string>studyappflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>studyappflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715243220214:ios:81d1ea0a797b79bbb650d7</string>
</dict>
</plist>